.mat-card-header {
  padding: 0.5rem 0.5rem 0 0.5rem;
  background-color: #f3f2f2;
}

.mat-card-subtitle {
  margin-bottom: 0;
  padding-bottom: 0.5rem;
}

.mat-card-content {
  padding: 0 1rem;
  margin-bottom: 0;
}

.mat-card-actions {
  padding: 0 1.5rem;
}
